html {
	--primaryColor: #9fc0a2 !important;
	--primaryColorRGB: 159, 192, 162 !important;
	--backgroundColor: #272a2c !important;
	--backgroundColorRGB: 39, 42, 44 !important;
	--surfaceColor: #333538 !important;
	--surfaceColorRGB: 51, 53, 56 !important;
	--surfaceColorHover: #404246 !important;
	--surfaceColorHoverRGB: 64, 66, 70 !important;
	--secondaryColor: #f5c276 !important;
	--secondaryColorRGB: 245, 194, 118 !important;
	--tertiaryColor: #d36d6d !important;
	--tertiaryColorRGB: 211, 109, 109 !important;
	--defaultWhite: #f2f5f3 !important;
	--defaultWhiteRGB: 242, 245, 243 !important;
	--textColor: #aaaaaa !important;
	--textColorRGB: 170, 170, 170 !important;
	--main-shadow: 0 4px 76px -15px rgba(0, 0, 0, 0.5) !important;
	--arrowPrimary: #68c07b !important;
	--arrowPrimaryRGB: 104, 192, 123 !important;
	--arrowSecondary: #e8a43f !important;
	--arrowSecondaryRGB: 232, 164, 63 !important;
	--arrowTertiary: #ef4747 !important;
	--arrowTertiaryRGB: 239, 71, 71 !important;
	--arrowAlternate: #4b81e6 !important;
	--arrowAlternateRGB: 75, 129, 230 !important;
	--lastMove: #99d69e !important;
	--lastMoveRGB: 153, 214, 158 !important;
	--preMove: #1b7cc7 !important;
	--preMoveRGB: 27, 124, 199 !important;
	--moveIndicator: #389840 !important;
	--moveIndicatorRGB: 56, 152, 64 !important;
	--boardDark: #71828f !important;
	--boardDarkRGB: 113, 130, 143 !important;
	--boardLight: #c7c7c7 !important;
	--boardLightRGB: 199, 199, 199 !important;
	--coordDark: var(--boardDark) !important;
	--coordDarkRGB: var(--boardDarkRGB) !important;
	--coordLight: var(--boardLight) !important;
	--coordLightRGB: var(--boardLightRGB) !important;
	--borderRadius: 8px !important;
	scrollbar-color: var(--surfaceColorHover) var(--surfaceColor) !important;
	scrollbar-width: thin !important;
}